{% extends 'main/base.html' %}
{% load static %}

<!-- SEO blocks-->
{% block title %} Digital Portfolio - Contact {% endblock %}
{% block description%}{% endblock %}
{% block keywords%}{% endblock%}

<!-- End SEO-->

<!-- CSS block-->
{% block extend_header %}{% endblock %}
<!--End CSS-->

<!-- script block-->
{% block extend_footer %}{% endblock %}
<!-- End scripts block-->

<!--Content-->
{% block content %}

<!-- Contact -->
<div class="vg-page page-contact" id="contact">
    <div class="container-fluid">
      <div class="text-center wow fadeInUp">
        <div class="badge badge-subhead">Contact</div>
      </div>
      <h1 class="text-center fw-normal wow fadeInUp">Get in touch</h1>
      <div class="row py-5">
       
        <div class="col-lg-5">
          <form class="vg-contact-form" method="post" action="/contact/">
            {% csrf_token %}
            <div class="form-row">
              <label for="name">Name</label>
              {{form.name}}

              <label for="email">Email</label>
              {{form.email}}

              <label for="subject">Subject</label>
              {{form.subject}}

              <label for="message">Message</label>
              {{form.message}}
              
              <button type="submit" class="btn btn-theme mt-3 wow fadeInUp ml-1">Send Message</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div> <!-- End Contact -->

{% endblock %}